/*General Page*/
*{
margin:0px;
padding:0px;
}

/* This is the first block */
#block1
{}

#burger
{
font-family: poppins;
color: rgb(126, 126, 5);
}


/* This is the second block */

#block2
{

}

.cityburger
{
width: 300px;
height: 500px;
float: right;
display: flex;
}

.rain
{
    font-size: 180%;
    font-family: poppins;
}

/* This is the third block */
#block3
{
display: flex;
}

.burgerbell
{
    box-sizing:content-box;
    text-overflow: clip;
    padding: 25px;
    color: black;
    background-color: #E1EBE6;
    border: 2px solid yellow;
    object-fit:cover;
    font-family: poppins;
    text-align: center;
    width: 50;
    height:40;
    display: flex;
    overflow:visible;
}

.lorry
{
    box-sizing:content-box;
    text-overflow: clip;
    padding: 25px;
    color: black;
    background-color: #E1EBE6;
    border: 2px solid yellow;
    object-fit:cover;
    font-family: poppins;
    text-align: center;
    width: 50;
    height:40;
    display: flex;
    overflow:visible;
}

.order
{
    box-sizing:content-box;
    text-overflow: clip;
    padding: 25px;
    color: black;
    background-color: #E1EBE6;
    border: 2px solid yellow;
    object-fit:cover;
    font-family: poppins;
    text-align: center;
    width: 50;
    height:40;
    display: flex;
    overflow:visible;
}


/* This is the fourth block */

.ourmenu
{
    font-size: 22pt;
}

.SeekPng1 .SeekPng2 .SeekPng3
{
display: flex;
display: flexbox;
width: 200px
}

/* This is the fifth block */
#block5{}




/* This is the sixth block */
#block6{}




.doubleburger1 
{
    float:right;
    display:flex;
}

body
{
font-family: poppins;
background-color: #E1EBE6;
}



.Taste
{
font-family: poppins;
font-size: 120%;
}

#orderhere
{
    background-color: #F6B400;
    font-size: 170%;
    border-radius:10px 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}


font-weight:bold
display: inline
margin:0 20px
list-style:none
text-decoration:none

ul li a:hover{
    color:white
}

list_style:none;
position:absolute;